#head {
  height: 50px;
  width: 50px;
  background-image:  url('./assets/snake.jpg');
  border-radius: 10px;
  position: absolute;
  border: 1px solid rgb(255, 255, 255);
}

#board {
  height: 700px;
  width: 700px;
  border: 1px black solid;
  position: relative;
  margin: auto;
  background-image:  url('./assets/bg.png');
}

#apple {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid rgb(255, 255, 255);
}
